* {
    box-sizing: border-box;
}

.select {
    font-size: 14pt;
    width: 300px;
    margin: 5px 0;
}

.select input {
    font-size: inherit;
    width: 100%;
    padding: 12px 15px;
}

.select .input img {
    position: relative;
    left: -8px;
    top: -41px;
    float: right;

}

.select .user-list-item {
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.select .user-list-item:hover {
    background-color: #f8f8f8;
}